extends ../layout

block content
    .container
        .row
            div.panel.panel-info  
                div.panel-heading
                    h3.panel-title 商品展示页
                    div.btn-group.pull-right#mygroup
                        button.btn.btn-default 添加商品
                        button.btn.btn-default 购物车
                        button.btn.btn-default.btn-warning 退出
                div.panel-body
                    each item in commodities
                        div.col-md-4
                            a.thumbnail(href="/commodity/#{item._id}")
                                img(src="/upload/#{item.imgScr}",alt="#{item.name}")
                            .caption
                                h4 #{item.name}
                                strong 价格¥
                                span.com-pric #{item.price}
                                p: a.btn.btn-primary(href="/commodity/#{item._id}",role="button") 加入购物车
 